@font-face {
    font-family: 'DM Mono Light';
    src: url('../public/font/DMMono/DMMono-Light.ttf');

    font-display: swap;
}

@font-face {
    font-family: 'DM Mono Light Italic';
    src: url('../public/font/DMMono/DMMono-LightItalic.ttf');

    font-display: swap;
}

@font-face {
    font-family: 'DM Mono Regular';
    src: url('../public/font/DMMono/DMMono-Regular.ttf');

    font-display: swap;
}

@font-face {
    font-family: 'DM Mono Italic';
    src: url('../public/font/DMMono/DMMono-Italic.ttf');

    font-display: swap;
}

@font-face {
    font-family: 'DM Mono Medium';
    src: url('../public/font/DMMono/DMMono-Medium.ttf');

    font-display: swap;
}

@font-face {
    font-family: 'DM Mono Medium Italic';
    src: url('../public/font/DMMono/DMMono-MediumItalic.ttf');

    font-display: swap;
}

@font-face {
    font-family: 'Univers LT Std 45 Light';
    src: url('../public/font/Univers/UniversforUniS45LtObl-Rg.ttf');

    font-display: swap;
}

@font-face {
    font-family: 'Univers LT Std 55 Roman';
    src: url('../public/font/Univers/UniversforUniS55Rm-Regular.ttf');

    font-display: swap;
}

@font-face {
    font-family: 'Univers LT Std 65 Bold';
    src: url('../public/font/Univers/UniversforUniS65Bd-Regular.ttf');

    font-display: swap;
}

