@import "./utilities.css";
@import "./components.css";
@import "./fonts.css";

span.inline{
  color: red;
  font-weight: bold;
}



.FirstLemma{
  position: relative;
  left: 50px
}

.FirstGroup{
  position: relative;
  left: 150px
}



.SecondLemma{
  position: relative;
  left: 300px
}

.SecondGroup{
  position: relative;
  left: 450px
}

@tailwind base;
@tailwind components;
@tailwind utilities;
